Lib.Data.External/Connected Services/eAgri.DeMinimis.WS/RDM_INF01B.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:vOKO="http://www.pds.eu/vOKO/v0200" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="RDM_INF01B" targetNamespace="http://www.pds.eu/vOKO/v0200" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tns="http://www.pds.eu/RDM_INF01B" xmlns:mze="http://www.mze.cz/ESBServer/1.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://schemas.xmlsoap.org/soap/encoding/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.pds.eu/vOKO/v0200" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.pds.eu/RDM_INF01B" />
      <xs:element name="Request" type="vOKO:Request">
        <xs:annotation>
          <xs:appinfo>
            <mze:Info>Obálka datové komunikace pro požadavek</mze:Info>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:complexType name="Request">
        <xs:sequence>
          <xs:element minOccurs="1" name="UIDkey" type="vOKO:UIDkey">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Element pro identifikační údaje pro autorizaci</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="TimeStamp" type="vOKO:TimeStamp">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Časové razítko</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="AppInfo" type="vOKO:AppInfo">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Informace o klientské aplikaci</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="RequestHeader" type="vOKO:RequestHeader">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Hlavička požadavku</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="RequestContent">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Data předávaná službě</mze:Info>
              </xs:appinfo>
            </xs:annotation>
            <xs:complexType>
              <xs:choice>
                <xs:element ref="tns:Request" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="vOKOid" type="vOKO:vOKOidtype" use="required">
          <xs:annotation>
            <xs:appinfo>
              <mze:Info>Identifikátor služby</mze:Info>
            </xs:appinfo>
          </xs:annotation>
        </xs:attribute>
      </xs:complexType>
      <xs:complexType name="UIDkey">
        <xs:attribute name="dn" use="required">
          <xs:annotation>
            <xs:appinfo>
              <mze:Info>CN uživatele v LDAPu</mze:Info>
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="255" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="addressAD" type="xs:string" use="optional">
          <xs:annotation>
            <xs:appinfo>
              <mze:Info>Adresa autorizační databáze (nebo řetězec 'default')</mze:Info>
            </xs:appinfo>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="certificateSN" use="optional">
          <xs:annotation>
            <xs:appinfo>
              <mze:Info>Sériové číslo certifikátu</mze:Info>
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="50" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="certificateOwner" type="xs:string" use="optional">
          <xs:annotation>
            <xs:appinfo>
              <mze:Info>Jméno vlastníka certifikátu</mze:Info>
            </xs:appinfo>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="certificateOrganization" type="xs:string" use="optional">
          <xs:annotation>
            <xs:appinfo>
              <mze:Info>Organizace vlastníka certifikátu</mze:Info>
            </xs:appinfo>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="certificateIssuer" type="xs:string" use="optional">
          <xs:annotation>
            <xs:appinfo>
              <mze:Info>Vydavatel certifikátu</mze:Info>
            </xs:appinfo>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="email" use="optional">
          <xs:annotation>
            <xs:appinfo>
              <mze:Info>E-mail uživatele</mze:Info>
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="100" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:complexType>
      <xs:complexType name="AppInfo">
        <xs:sequence>
          <xs:element name="AppModule">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Informace o klientské aplikaci</mze:Info>
              </xs:appinfo>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="id" use="required">
                <xs:annotation>
                  <xs:appinfo>
                    <mze:Info>Id (název) aplikace</mze:Info>
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="35" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
              <xs:attribute name="version" use="required">
                <xs:annotation>
                  <xs:appinfo>
                    <mze:Info>Verze aplikace</mze:Info>
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="20" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TimeStamp">
        <xs:simpleContent>
          <xs:extension base="xs:dateTime">
            <xs:attribute name="type" use="required">
              <xs:annotation>
                <xs:appinfo>
                  <mze:Info>Typ časové značky</mze:Info>
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="base" />
                  <xs:enumeration value="qualified" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>
      <xs:complexType name="RequestHeader">
        <xs:sequence>
          <xs:element minOccurs="0" name="RequestID" type="vOKO:RequestIDtype">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Identifikátor požadavku na straně konzumenta</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Subject">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Informace o subjektu</mze:Info>
              </xs:appinfo>
            </xs:annotation>
            <xs:complexType>
              <xs:simpleContent>
                <xs:extension base="xs:string">
                  <xs:attribute name="subjectID" use="required">
                    <xs:annotation>
                      <xs:appinfo>
                        <mze:Info>Identifikátor subjektu</mze:Info>
                      </xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="10" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:extension>
              </xs:simpleContent>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="RequestType">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Typ požadavku (v případě že má služba více typů)</mze:Info>
              </xs:appinfo>
            </xs:annotation>
            <xs:complexType>
              <xs:simpleContent>
                <xs:extension base="xs:string">
                  <xs:attribute name="code" use="required">
                    <xs:annotation>
                      <xs:appinfo>
                        <mze:Info>Kód typu požadavku</mze:Info>
                      </xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="15" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:extension>
              </xs:simpleContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="Response" type="vOKO:Response">
        <xs:annotation>
          <xs:appinfo>
            <mze:Info>Obálka datové komunikace pro odpověď</mze:Info>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:complexType name="Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="SRVid" type="vOKO:SRVid">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Identifikátor serveru, kterým bylo volání na straně EPO zpracováno</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="TimeStamp" type="vOKO:TimeStamp">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Časová značka odpovědi</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ResponseHeader" type="vOKO:ResponseHeader">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Hlavička odpovědi</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResponseContent">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Data odpovědi</mze:Info>
              </xs:appinfo>
            </xs:annotation>
            <xs:complexType>
              <xs:choice>
                <xs:element ref="tns:Response" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="vOKOid" type="vOKO:vOKOidtype" use="required">
          <xs:annotation>
            <xs:appinfo>
              <mze:Info>Identifikátor služby</mze:Info>
            </xs:appinfo>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="SID" type="vOKO:SIDtype" use="required">
          <xs:annotation>
            <xs:appinfo>
              <mze:Info>Jednoznačný identifikátor datové výměny na straně vOKO serveru</mze:Info>
            </xs:appinfo>
          </xs:annotation>
        </xs:attribute>
      </xs:complexType>
      <xs:complexType name="ResponseHeader">
        <xs:sequence>
          <xs:element name="RequestID" type="vOKO:RequestIDtype">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Identifikátor požadavku na straně konzumenta zkopírovaný z request</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="SIDtype">
        <xs:restriction base="xs:string">
          <xs:maxLength value="50" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="vOKOidtype">
        <xs:restriction base="xs:string">
          <xs:maxLength value="15" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="RequestIDtype">
        <xs:restriction base="xs:string">
          <xs:maxLength value="100" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="Langtype">
        <xs:restriction base="xs:string">
          <xs:maxLength value="3" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="SRVid">
        <xs:attribute name="serverID" type="xs:string" use="required">
          <xs:annotation>
            <xs:appinfo>
              <mze:Info>Id serveru</mze:Info>
            </xs:appinfo>
          </xs:annotation>
        </xs:attribute>
      </xs:complexType>
      <xs:element name="Error" type="vOKO:Error">
        <xs:annotation>
          <xs:appinfo>
            <mze:Info>Obálka chybové odpovědi</mze:Info>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:complexType name="Error">
        <xs:sequence>
          <xs:element name="ErrorCode" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Kód chyby</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="ErrorDescription" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Popisné chybové hlášení</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateTime" type="xs:dateTime">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Časová značka chyby</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="SID" type="vOKO:SIDtype">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Jednoznačný identifikátor datové výměny na straně vOKO serveru</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="RequestID" type="vOKO:RequestIDtype">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Identifikátor požadavku na straně konzumenta</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="SRVid" type="vOKO:SRVid">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Id Serveru, kterým bylo na straně EPO zpracováno</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="vOKOid" type="vOKO:vOKOidtype">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Identifikátor služby</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ResponseLang" type="vOKO:Langtype">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Kód jazyka odpovdi</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ShowXSLTpath" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Cesta k šabloně pro zobrazení</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ShowXSLTtype" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Typ šablony pro zobrazení (text/xsl)</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Display" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Text o službě pro zobrazení v klientské aplikaci</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Desc" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Text o službě pro zobrazení v klientské aplikaci</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="InnerException">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Strukturovaná chyba zdrojového systému</mze:Info>
              </xs:appinfo>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="1" processContents="lax" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:tns="http://www.pds.eu/RDM_INF01B" elementFormDefault="qualified" targetNamespace="http://www.pds.eu/RDM_INF01B" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:annotation>
        <xs:appinfo>
          <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">
            <mze:Service Name="RDM_INF01B">Služba poskytuje komplexní informace o podporách subjektu z registru RDM.</mze:Service>
            <mze:Changes>
              <mze:Change Date="2019-11-20T16:00:00" Version="1.0" Who="Jaroslav Košulič, mailto: jaroslav.kosulic@pds.eu">První verze služby</mze:Change>
            </mze:Changes>
          </mze:Info>
        </xs:appinfo>
      </xs:annotation>
      <xs:element name="Response" type="tns:RDM_INF_Response">
        <xs:annotation>
          <xs:appinfo>
            <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Odpověď bez ESB obálky</mze:Info>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:complexType name="RDM_INF_Response">
        <xs:annotation>
          <xs:appinfo>
            <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Odpověď bez ESB obálky</mze:Info>
          </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="subjektid">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">ID subjektu</mze:Info>
              </xs:appinfo>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:long">
                <xs:maxInclusive value="9999999999" />
                <xs:minInclusive value="1000000000" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="subjekt" type="tns:subjekt_type">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Element subjekt</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="subjekt_type">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="obchodni_jmeno">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Obchodní jméno subjektu</mze:Info>
              </xs:appinfo>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="255" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="jmeno">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Jméno FO</mze:Info>
              </xs:appinfo>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="24" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="prijmeni">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Příjmení FO</mze:Info>
              </xs:appinfo>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="35" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="titul_pred">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Titul před jménem</mze:Info>
              </xs:appinfo>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="35" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="titul_za">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Titul za jménem</mze:Info>
              </xs:appinfo>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="10" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="seznam_uo" type="tns:ArrayOfUcetni_obdobi">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Element seznamu účetních období subjektu</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="exids" type="tns:ArrayOfExid">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Element seznamu externích identifikátorů.</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="limity_stav" type="tns:ArrayOfOblast_stav">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Element aktuálního stavu čerpání podpor v jednotlivých oblastech</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="seznam_podpor" type="tns:ArrayOfPodpora">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Element seznamu podpor</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="datum_zahajeni_cinnosti" type="xs:date">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Datum zahájení činnosti subjektu</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="datum_narozeni" type="xs:date">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Datum narození</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="limity_stav_narizeni" type="tns:ArrayOfNarizeni_stav">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Element aktuálního stavu čerpání podpor podle jednotlivých nařízení</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfUcetni_obdobi">
        <xs:annotation>
          <xs:appinfo>
            <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Element seznamu účetních období subjektu</mze:Info>
          </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ucetni_obdobi" type="tns:ucetni_obdobi">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Účetní období subjektu</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ucetni_obdobi">
        <xs:annotation>
          <xs:appinfo>
            <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Účetní období subjektu</mze:Info>
          </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="id_uo" type="xs:int">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Identifikátor účetního období. Je vracen ve všech výstupech, na vstupu je ignorován.</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="datum_od" type="xs:date">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Datum počátku účetního období</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="datum_do" type="xs:date">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Datum konce účetního období</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfExid">
        <xs:annotation>
          <xs:appinfo>
            <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Element seznamu externích identifikátorů.</mze:Info>
          </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="exid" type="tns:exid">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Externí identifikátor subjektu (v případě RDM je jediným zpracovávaným identifikátorem  IČO)</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="exid">
        <xs:annotation>
          <xs:appinfo>
            <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Externí identifikátor subjektu (v případě RDM je jediným zpracovávaným identifikátorem  IČO)</mze:Info>
          </xs:appinfo>
        </xs:annotation>
        <xs:simpleContent>
          <xs:extension base="xs:string">
            <xs:attribute name="platnost_od" type="xs:dateTime" use="required" />
            <xs:attribute name="platnost_do" type="xs:dateTime" />
            <xs:attribute name="exidkod" type="xs:string" />
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>
      <xs:complexType name="ArrayOfOblast_stav">
        <xs:annotation>
          <xs:appinfo>
            <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Element aktuálního stavu čerpání podpor.</mze:Info>
          </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="oblast_stav" type="tns:oblast_stav" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="oblast_stav">
        <xs:annotation>
          <xs:appinfo>
            <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Element stavu čerpání v konkrétní oblasti</mze:Info>
          </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="oblast">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Kód oblasti</mze:Info>
              </xs:appinfo>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="2" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="limit" type="xs:double">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Výše limitu pro danou oblast</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="cerpano" type="xs:double">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Součet hodnot všech podpor čerpaných v rámci dané oblasti v posledních třech účetních obdobích subjektu</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="doprava" type="xs:boolean" />
      </xs:complexType>
      <xs:complexType name="ArrayOfPodpora">
        <xs:annotation>
          <xs:appinfo>
            <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Element seznamu podpor</mze:Info>
          </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="podpora" type="tns:podpora">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Element podpory</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="podpora">
        <xs:annotation>
          <xs:appinfo>
            <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Element podpory</mze:Info>
          </xs:appinfo>
        </xs:annotation>
        <xs:complexContent mixed="false">
          <xs:extension base="tns:podpora_base">
            <xs:sequence>
              <xs:element minOccurs="1" maxOccurs="1" name="id_podpory" type="xs:int">
                <xs:annotation>
                  <xs:appinfo>
                    <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">ID podpory</mze:Info>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="poskytovatel_id" type="xs:long">
                <xs:annotation>
                  <xs:appinfo>
                    <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">SZR-ID poskytovatele</mze:Info>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="poskytovatel_ojm" type="xs:string">
                <xs:annotation>
                  <xs:appinfo>
                    <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Název poskytovatele</mze:Info>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="dn_uzivatele">
                <xs:annotation>
                  <xs:appinfo>
                    <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">DN uživatele, který podporu vložil (editoval).</mze:Info>
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="255" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="stav" type="xs:int">
                <xs:annotation>
                  <xs:appinfo>
                    <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Stav podpory. Dle číselníku stavu podpor.</mze:Info>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="seznam_priznaky" type="tns:ArrayOfPriznak">
                <xs:annotation>
                  <xs:appinfo>
                    <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Element seznamu příznaků</mze:Info>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="1" maxOccurs="1" name="insdat" type="xs:dateTime">
                <xs:annotation>
                  <xs:appinfo>
                    <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Datum a čas vložení podpory</mze:Info>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="edidat" type="xs:dateTime">
                <xs:annotation>
                  <xs:appinfo>
                    <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Datum a čas poslední změny podpory (pokud nedošlo k žádné změně podpory od jejího vložení, není element uveden)</mze:Info>
                  </xs:appinfo>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="podpora_base" abstract="true">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="oblast" type="tns:podpora_oblast">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Identifikace oblasti – hodnoty z číselníku</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="datum_prideleni" type="xs:date">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Datum přidělení podpory</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="mena" type="tns:mena_enum">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Identifikace měny (CZK – koruna česká, EUR – Euro)</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="castka_kc" type="xs:double">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Částka uvedená v měně CZK</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="castka_euro" type="xs:double">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Částka přidělené podpory uvedená v Euro</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="forma_podpory">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Forma podpory dle platného číselníku.</mze:Info>
              </xs:appinfo>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:short">
                <xs:maxInclusive value="999" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="ucel_podpory">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Popis účelu podpory</mze:Info>
              </xs:appinfo>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="1000" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="pravni_akt_poskytnuti" type="xs:int">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Právní akt poskytnutí podpory dle platného číselníku.</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="cj_poskytovatel">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">ČJ poskytovatele</mze:Info>
              </xs:appinfo>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="1000" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="cj_prijemce">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">ČJ příjemce</mze:Info>
              </xs:appinfo>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="1000" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="rezim_podpory" type="tns:rezim_podpory">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Element režimu podpory</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="podpora_oblast">
        <xs:annotation>
          <xs:appinfo>
            <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Výčet oblastí podpory</mze:Info>
          </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ZP" />
          <xs:enumeration value="RY" />
          <xs:enumeration value="DO" />
          <xs:enumeration value="OS" />
          <xs:enumeration value="SL" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="mena_enum">
        <xs:annotation>
          <xs:appinfo>
            <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Výčet zkratek měn, ve kterých lze zadat podporu</mze:Info>
          </xs:appinfo>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="CZK" />
          <xs:enumeration value="EUR" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="rezim_podpory">
        <xs:annotation>
          <xs:appinfo>
            <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Element zapouzdřující informace o režimu podpory</mze:Info>
          </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="adhoc" type="xs:boolean">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Příznak, jestli se jedná o „ad-hoc“ podporu (hodnota 1) nebo o podporu v rámci „režimu podpory“ (hodnota 0).</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="kod">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Kód režimu podpory pro jednoznačnou identifikaci v rámci poskytovatele.</mze:Info>
              </xs:appinfo>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="20" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="nazev">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Název režimu podpory.</mze:Info>
              </xs:appinfo>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="1000" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="datum_od" type="xs:date">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Datum účinnosti režimu podpory – počátek.</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="datum_do" type="xs:date">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Datum účinnosti režimu podpory – konec.</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfPriznak">
        <xs:annotation>
          <xs:appinfo>
            <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Element seznamu příznaků</mze:Info>
          </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="priznak" type="tns:priznak">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Příznak podpory</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="priznak">
        <xs:annotation>
          <xs:appinfo>
            <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Příznak podpory</mze:Info>
          </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="kod" type="xs:int">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Kód příznaku dle číselníku příznaků podpory.</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="popis">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Popis příznaku (INFO – informační, PROBLEM – problémový příznak). Alespoň jeden PROBLEM příznak způsobí STAV celé podpory jako problémový</mze:Info>
              </xs:appinfo>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="100" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="nazev">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Název příznaku</mze:Info>
              </xs:appinfo>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="100" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfNarizeni_stav">
        <xs:annotation>
          <xs:appinfo>
            <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Element aktuálního stavu čerpání podpor podle jednotlivých nařízení</mze:Info>
          </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="narizeni_stav" type="tns:narizeni_stav">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Informace o čerpávní podpor v konkrétním nařízení</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="narizeni_stav">
        <xs:annotation>
          <xs:appinfo>
            <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Informace o čerpávní podpor v konkrétním nařízení</mze:Info>
          </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="kod">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Kód nařízení</mze:Info>
              </xs:appinfo>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="2" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="limit" type="xs:double">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Výše limitu pro dané nařízení</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="cerpano" type="xs:double">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Součet hodnot všech podpor čerpaných v rámci daného nařízení za poslední tři účetní období subjektu</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="Request" type="tns:RDM_INF_Request">
        <xs:annotation>
          <xs:appinfo>
            <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Požadavek bez ESB obálky</mze:Info>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:complexType name="RDM_INF_Request">
        <xs:annotation>
          <xs:appinfo>
            <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">Požadavek bez ESB obálky</mze:Info>
          </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="subjektid">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info xmlns:mze="http://www.mze.cz/ESBServer/1.0">ID subjektu</mze:Info>
              </xs:appinfo>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:long">
                <xs:maxInclusive value="9999999999" />
                <xs:minInclusive value="1000000000" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="ServiceRequestMessage">
    <wsdl:part name="payload" element="vOKO:Request" />
  </wsdl:message>
  <wsdl:message name="ServiceResponseMessage">
    <wsdl:part name="payload" element="vOKO:Response" />
  </wsdl:message>
  <wsdl:message name="ServiceErrorMessage">
    <wsdl:part name="exception" element="vOKO:Error" />
  </wsdl:message>
  <wsdl:portType name="RDM_INF01B">
    <wsdl:operation name="process">
      <wsdl:input message="vOKO:ServiceRequestMessage" />
      <wsdl:output message="vOKO:ServiceResponseMessage" />
      <wsdl:fault name="Error" message="vOKO:ServiceErrorMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RDM_INF01BBinding" type="vOKO:RDM_INF01B">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="process">
      <soap:operation soapAction="process" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Error">
        <soap:fault use="literal" name="Error" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RDM_INF01B">
    <wsdl:port name="RDM_INF01BPort" binding="vOKO:RDM_INF01BBinding">
      <soap:address location="https://eagri.cz/ssl/nosso-app/EPO/WS/v2Online/vOKOsrv.ashx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>