Lib.Data.External/Connected Services/eAgri.DeMinimis.WS/RDM_PUB01B.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:vOKO="http://www.pds.eu/vOKO/v0200" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="RDM_PUB01B" targetNamespace="http://www.pds.eu/vOKO/v0200" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:mze="http://www.mze.cz/ESBServer/1.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.pds.eu/vOKO/v0200" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://www.pds.eu/RDM_PUB01B" />
      <xs:element name="Request" type="vOKO:Request">
        <xs:annotation>
          <xs:appinfo>
            <mze:Info>Obálka datové komunikace pro požadavek</mze:Info>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:complexType name="Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="UIDkey" type="vOKO:UIDkey">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Element pro identifikační údaje pro autorizaci</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="TimeStamp" type="vOKO:TimeStamp">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Časové razítko</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="AppInfo" type="vOKO:AppInfo">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Informace o klientské aplikaci</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="RequestHeader" type="vOKO:RequestHeader">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Hlavička požadavku</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="RequestContent">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Data předávaná službě</mze:Info>
              </xs:appinfo>
            </xs:annotation>
            <xs:complexType>
              <xs:choice>
                <xs:element xmlns:tns="http://www.pds.eu/RDM_PUB01B" ref="tns:Request" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="vOKOid" type="vOKO:vOKOidtype" use="required">
          <xs:annotation>
            <xs:appinfo>
              <mze:Info>Identifikátor služby</mze:Info>
            </xs:appinfo>
          </xs:annotation>
        </xs:attribute>
      </xs:complexType>
      <xs:complexType name="UIDkey">
        <xs:attribute name="dn" use="required">
          <xs:annotation>
            <xs:appinfo>
              <mze:Info>CN uživatele v LDAPu</mze:Info>
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="255" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="addressAD" type="xs:string" use="optional">
          <xs:annotation>
            <xs:appinfo>
              <mze:Info>Adresa autorizační databáze (nebo řetězec 'default')</mze:Info>
            </xs:appinfo>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="certificateSN" use="optional">
          <xs:annotation>
            <xs:appinfo>
              <mze:Info>Sériové číslo certifikátu</mze:Info>
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="50" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="certificateOwner" type="xs:string" use="optional">
          <xs:annotation>
            <xs:appinfo>
              <mze:Info>Jméno vlastníka certifikátu</mze:Info>
            </xs:appinfo>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="certificateOrganization" type="xs:string" use="optional">
          <xs:annotation>
            <xs:appinfo>
              <mze:Info>Organizace vlastníka certifikátu</mze:Info>
            </xs:appinfo>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="certificateIssuer" type="xs:string" use="optional">
          <xs:annotation>
            <xs:appinfo>
              <mze:Info>Vydavatel certifikátu</mze:Info>
            </xs:appinfo>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="email" use="optional">
          <xs:annotation>
            <xs:appinfo>
              <mze:Info>E-mail uživatele</mze:Info>
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="100" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:complexType>
      <xs:complexType name="AppInfo">
        <xs:sequence>
          <xs:element name="AppModule">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Informace o klientské aplikaci</mze:Info>
              </xs:appinfo>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="id" use="required">
                <xs:annotation>
                  <xs:appinfo>
                    <mze:Info>Id (název) aplikace</mze:Info>
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="35" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
              <xs:attribute name="version" use="required">
                <xs:annotation>
                  <xs:appinfo>
                    <mze:Info>Verze aplikace</mze:Info>
                  </xs:appinfo>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="20" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TimeStamp">
        <xs:simpleContent>
          <xs:extension base="xs:dateTime">
            <xs:attribute name="type" use="required">
              <xs:annotation>
                <xs:appinfo>
                  <mze:Info>Typ časové značky</mze:Info>
                </xs:appinfo>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="base" />
                  <xs:enumeration value="qualified" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>
      <xs:complexType name="RequestHeader">
        <xs:sequence>
          <xs:element minOccurs="0" name="RequestID" type="vOKO:RequestIDtype">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Identifikátor požadavku na straně konzumenta</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Subject">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Informace o subjektu</mze:Info>
              </xs:appinfo>
            </xs:annotation>
            <xs:complexType>
              <xs:simpleContent>
                <xs:extension base="xs:string">
                  <xs:attribute name="subjectID" use="required">
                    <xs:annotation>
                      <xs:appinfo>
                        <mze:Info>Identifikátor subjektu</mze:Info>
                      </xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="10" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:extension>
              </xs:simpleContent>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="RequestType">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Typ požadavku (v případě že má služba více typů)</mze:Info>
              </xs:appinfo>
            </xs:annotation>
            <xs:complexType>
              <xs:simpleContent>
                <xs:extension base="xs:string">
                  <xs:attribute name="code" use="required">
                    <xs:annotation>
                      <xs:appinfo>
                        <mze:Info>Kód typu požadavku</mze:Info>
                      </xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="15" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:extension>
              </xs:simpleContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="Response" type="vOKO:Response">
        <xs:annotation>
          <xs:appinfo>
            <mze:Info>Obálka datové komunikace pro odpověď</mze:Info>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:complexType name="Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="SRVid" type="vOKO:SRVid">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Identifikátor serveru, kterým bylo volání na straně EPO zpracováno</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="TimeStamp" type="vOKO:TimeStamp">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Časová značka odpovědi</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ResponseHeader" type="vOKO:ResponseHeader">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Hlavička odpovědi</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResponseContent">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Data odpovědi</mze:Info>
              </xs:appinfo>
            </xs:annotation>
            <xs:complexType>
              <xs:choice>
                <xs:element xmlns:tns="http://www.pds.eu/RDM_PUB01B" ref="tns:Response" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="vOKOid" type="vOKO:vOKOidtype" use="required">
          <xs:annotation>
            <xs:appinfo>
              <mze:Info>Identifikátor služby</mze:Info>
            </xs:appinfo>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="SID" type="vOKO:SIDtype" use="required">
          <xs:annotation>
            <xs:appinfo>
              <mze:Info>Jednoznačný identifikátor datové výměny na straně vOKO serveru</mze:Info>
            </xs:appinfo>
          </xs:annotation>
        </xs:attribute>
      </xs:complexType>
      <xs:complexType name="ResponseHeader">
        <xs:sequence>
          <xs:element name="RequestID" type="vOKO:RequestIDtype">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Identifikátor požadavku na straně konzumenta zkopírovaný z request</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="SIDtype">
        <xs:restriction base="xs:string">
          <xs:maxLength value="50" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="vOKOidtype">
        <xs:restriction base="xs:string">
          <xs:maxLength value="15" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="RequestIDtype">
        <xs:restriction base="xs:string">
          <xs:maxLength value="100" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="Langtype">
        <xs:restriction base="xs:string">
          <xs:maxLength value="3" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="SRVid">
        <xs:attribute name="serverID" type="xs:string" use="required">
          <xs:annotation>
            <xs:appinfo>
              <mze:Info>Id serveru</mze:Info>
            </xs:appinfo>
          </xs:annotation>
        </xs:attribute>
      </xs:complexType>
      <xs:element name="Error" type="vOKO:Error">
        <xs:annotation>
          <xs:appinfo>
            <mze:Info>Obálka chybové odpovědi</mze:Info>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:complexType name="Error">
        <xs:sequence>
          <xs:element name="ErrorCode" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Kód chyby</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="ErrorDescription" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Popisné chybové hlášení</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="DateTime" type="xs:dateTime">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Časová značka chyby</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="SID" type="vOKO:SIDtype">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Jednoznačný identifikátor datové výměny na straně vOKO serveru</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="RequestID" type="vOKO:RequestIDtype">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Identifikátor požadavku na straně konzumenta</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="SRVid" type="vOKO:SRVid">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Id Serveru, kterým bylo na straně EPO zpracováno</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="vOKOid" type="vOKO:vOKOidtype">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Identifikátor služby</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ResponseLang" type="vOKO:Langtype">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Kód jazyka odpovdi</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ShowXSLTpath" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Cesta k šabloně pro zobrazení</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="ShowXSLTtype" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Typ šablony pro zobrazení (text/xsl)</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Display" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Text o službě pro zobrazení v klientské aplikaci</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Desc" type="xs:string">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Text o službě pro zobrazení v klientské aplikaci</mze:Info>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="InnerException">
            <xs:annotation>
              <xs:appinfo>
                <mze:Info>Strukturovaná chyba zdrojového systému</mze:Info>
              </xs:appinfo>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="1" processContents="lax" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <s:schema xmlns:s1="http://www.pds.eu/RDM_PUB01B" xmlns:mze="http://www.mze.cz/ESBServer/1.0" elementFormDefault="qualified" targetNamespace="http://www.pds.eu/RDM_PUB01B" version="1.0" xmlns:s="http://www.w3.org/2001/XMLSchema">
      <s:annotation>
        <s:appinfo>
          <mze:Info>
            <mze:Service Name="RDM_PUB01B">Služba pro vyhledání subjektu a změn podpor subjektu v RDM.</mze:Service>
            <mze:Changes>
              <mze:Change Date="2020-09-10T00:00:00" Version="1.0" Who="Martin Skoupil, mailto: martin.skoupil@pds.eu">První verze služby</mze:Change>
            </mze:Changes>
          </mze:Info>
        </s:appinfo>
      </s:annotation>
      <s:complexType name="adresa_type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ulicenaz" type="s1:string48_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Název ulice</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="cisdomhod" type="s1:string5_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Číslo domovní</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="cisorhod" type="s1:string3_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Číslo orientační</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="cisorpis" type="s1:string1_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Písmeno do čísla orientačního</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="cobcenaz" type="s1:string48_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Název části obce</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="mcastnaz" type="s1:string48_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Název městské části</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="obecnaz" type="s1:string48_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Název obce</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="psc" type="s1:psc_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>PSČ bez mezer</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="adrline1" type="s1:string255_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Adresa textem – řádek 1</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="adrline2" type="s1:string255_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Adresa textem – řádek 2</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="adrline3" type="s1:string255_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Adresa textem – řádek 3</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="adrline4" type="s1:string255_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Adresa textem – řádek 4</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="adrpostcode" type="s1:string10_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Zahraniční PSČ</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="kod" type="s:int">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Kód adresy dle RUIAN</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfIdentifikator_type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="identifikator" type="s1:identifikator_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Element identifikátoru</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfNarizeni_stav">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="narizeni_stav" type="s1:narizeni_stav_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Informace o čerpání podpor podle daného nařízení Komise</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOblast_stav">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="oblast_stav" type="s1:oblast_stav_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Oblast čerpání podpor</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPodpora">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="podpora" type="s1:podpora_type" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPriznak">
        <s:annotation>
          <s:appinfo>
            <mze:Info>Element seznamu příznaků</mze:Info>
          </s:appinfo>
        </s:annotation>
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="priznak" type="s1:priznak">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Příznak podpory</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSubjekt_type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="subjekt" type="s1:subjekt_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Element podrobných informací o subjektu</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSubjektId_type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="subjektid" type="s1:subjektid_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Jednotlivý identifikátor subjektu</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUcetni_obdobi">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ucetni_obdobi" type="s1:ucetni_obdobi" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="dotaz_detail_choice_type">
        <s:choice>
          <s:element minOccurs="1" maxOccurs="1" name="dotaz_ic" type="s1:dotaz_ic_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Podmínky pro vyhledávání přes IČ subjektu</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="dotaz_obec_type" type="s1:dotaz_obec_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Podmínky pro vyhledávání přes jméno, příjmení a název obce</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="dotaz_psc" type="s1:dotaz_psc_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Podmínky pro vyhledávání přes jméno, příjmení a psč</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="dotaz_subjektid" type="s1:dotaz_subjektid_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Podmínky pro vyhledávání přes SZRID subjektu</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
        </s:choice>
      </s:complexType>
      <s:complexType name="dotaz_ic_type">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ic" type="s1:ic_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>IČ subjektu. Hodnota musí splňovat požadavky na formát IČ</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="dotaz_jmeno_prijmeni_type">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="jmeno" type="s1:string24_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Jméno FO</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="prijmeni" type="s1:string35_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Příjmení FO</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="dotaz_obec_type">
        <s:complexContent mixed="false">
          <s:extension base="s1:dotaz_jmeno_prijmeni_type">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="obecnaz" type="s1:string48_type">
                <s:annotation>
                  <s:appinfo>
                    <mze:Info>Název obce</mze:Info>
                  </s:appinfo>
                </s:annotation>
              </s:element>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="dotaz_psc_type">
        <s:complexContent mixed="false">
          <s:extension base="s1:dotaz_jmeno_prijmeni_type">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="psc" type="s1:psc_type">
                <s:annotation>
                  <s:appinfo>
                    <mze:Info>PSČ bez mezer</mze:Info>
                  </s:appinfo>
                </s:annotation>
              </s:element>
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="dotaz_subjektid_type">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="subjektid" type="s1:subjektid_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Identifikátor subjektu</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="dotaz_zmeny_type">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="subjektid" type="s1:subjektid_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Identifikátor subjektu</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="poskytovatel" type="s1:ic_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>IČ poskytovatele</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="zmeny_od" type="s:date">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Počáteční datum intervalu pro vyhledávání změn</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="zmeny_do" type="s:date">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Konečné datum intervalu pro vyhledávání změn</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="identifikator_type">
        <s:simpleContent>
          <s:extension base="s:string">
            <s:attribute name="platnost_do" type="s:date" use="optional">
              <s:annotation>
                <s:appinfo>
                  <mze:Info>Datum ukončení platnosti identifikátoru</mze:Info>
                </s:appinfo>
              </s:annotation>
            </s:attribute>
            <s:attribute name="platnost_od" type="s:date" use="optional">
              <s:annotation>
                <s:appinfo>
                  <mze:Info>Datum počátku platnosti identifikátoru</mze:Info>
                </s:appinfo>
              </s:annotation>
            </s:attribute>
            <s:attribute name="typ" type="s1:identifikator_typ_type" use="optional">
              <s:annotation>
                <s:appinfo>
                  <mze:Info>Typ identifikátoru. platné hodnota je pouze ICO (IČ)</mze:Info>
                </s:appinfo>
              </s:annotation>
            </s:attribute>
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:complexType name="narizeni_stav_type">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="platnost" type="s:date">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Datum platnosti</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="kod" type="s1:string2_typ">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Kód nařízení</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="limit" type="s:double">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Výše limitu pro dané nařízení</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="cerpano" type="s:double">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Součet hodnot všech podpor čerpaných podle daného nařízení</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="oblast_stav_type">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="platnost" type="s:date" />
          <s:element minOccurs="0" maxOccurs="1" name="oblast_kod" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="limit" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="cerpano" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="podpora_type">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="oblast" type="s1:podpora_oblast_enum">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Identifikace oblasti – hodnoty z číselníku</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="datum_prideleni" type="s:date">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Datum přidělení podpory</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="mena" type="s1:mena_enum">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Identifikace měny (CZK – koruna česká, EUR – Euro)</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="castka_kc" type="s:double">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Částka uvedená v měně CZK</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="castka_euro" type="s:double">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Částka přidělené podpory uvedená v Euro</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="forma_podpory" type="s1:forma_podpory_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Forma podpory dle platného číselníku.</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="ucel_podpory" type="s1:string1000_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Popis účelu podpory</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="pravni_akt_poskytnuti" type="s:int">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Právní akt poskytnutí podpory dle platného číselníku.</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="cj_poskytovatel" type="s1:string1000_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>ČJ poskytovatele</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="cj_prijemce" type="s1:string1000_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>ČJ příjemce</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="rezim_podpory" type="s1:rezim_podpory_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Element režimu podpory</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="id_podpory" type="s:int">
            <s:annotation>
              <s:appinfo>
                <mze:Info>ID podpory</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="poskytovatel_id" type="s:long">
            <s:annotation>
              <s:appinfo>
                <mze:Info>SZR-ID poskytovatele</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="poskytovatel_ojm" type="s1:string255_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Název poskytovatele</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="poskytovatel_ic" type="s1:ic_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>IČ poskytovatele</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="stav" type="s:int">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Stav podpory. Dle číselníku stavu podpor.</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="seznam_priznaky" type="s1:ArrayOfPriznak">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Element seznamu příznaků</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="insdat" type="s:date">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Datum a čas vložení podpory</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="edidat" type="s:date">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Datum a čas poslední změny podpory (pokud nedošlo k žádné změně podpory od jejího vložení, není element uveden)</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="priznak">
        <s:annotation>
          <s:appinfo>
            <mze:Info>Příznak podpory</mze:Info>
          </s:appinfo>
        </s:annotation>
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="kod" type="s:int">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Kód příznaku dle číselníku příznaků podpory.</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="nazev" type="s1:string100_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Název příznaku</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="popis" type="s1:string1000_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Popis příznaku (INFO – informační, PROBLEM – problémový příznak). Alespoň jeden PROBLEM příznak způsobí STAV celé podpory jako problémový</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="RDM_PUB_Request">
        <s:annotation>
          <s:appinfo>
            <mze:Info>Typ elementu požadavku</mze:Info>
          </s:appinfo>
        </s:annotation>
        <s:choice>
          <s:element minOccurs="1" maxOccurs="1" name="dotaz_detail" type="s1:dotaz_detail_choice_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Specifikace podmínek pro vyhledávání subjektu</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="dotaz_zmeny" type="s1:dotaz_zmeny_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Specifikace podmínek pro vyhledávání subjektů podle změn v podporách</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
        </s:choice>
      </s:complexType>
      <s:complexType name="RDM_PUB_Response">
        <s:annotation>
          <s:appinfo>
            <mze:Info>Typ elementu odpovědi</mze:Info>
          </s:appinfo>
        </s:annotation>
        <s:complexContent mixed="false">
          <s:extension base="s1:RDM_PUB_Response_base_type">
            <s:choice>
              <s:element minOccurs="1" maxOccurs="1" name="seznam_subjektid" type="s1:ArrayOfSubjektId_type">
                <s:annotation>
                  <s:appinfo>
                    <mze:Info>Element seznamu nalezených subjektid</mze:Info>
                  </s:appinfo>
                </s:annotation>
              </s:element>
              <s:element minOccurs="1" maxOccurs="1" name="seznam_subjektu" type="s1:ArrayOfSubjekt_type">
                <s:annotation>
                  <s:appinfo>
                    <mze:Info>Element seznamu nalezených subjektů</mze:Info>
                  </s:appinfo>
                </s:annotation>
              </s:element>
            </s:choice>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RDM_PUB_Response_base_type">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="pocet" type="s:int">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Celkový skutečný počet subjektů odpovídajících podmínkám zadaným na vstupu. Může to být více, než počet výskytů elementu SUBJEKT v SEZNAM_SUBJEKTU</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="rezim_podpory_type">
        <s:annotation>
          <s:appinfo>
            <mze:Info>Element zapouzdřující informace o režimu podpory</mze:Info>
          </s:appinfo>
        </s:annotation>
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="adhoc" type="s:boolean">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Příznak, jestli se jedná o „ad-hoc“ podporu (hodnota 1) nebo o podporu v rámci „režimu podpory“ (hodnota 0).</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="nazev" type="s1:string1000_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Název režimu podpory.</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="datum_od" type="s:date">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Datum účinnosti režimu podpory – počátek.</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="datum_do" type="s:date">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Datum účinnosti režimu podpory – konec.</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="subjekt_type">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="subjektid" type="s1:subjektid_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Identifikátor subjektu</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="obchodni_jmeno" type="s1:string255_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Obchodní jméno subjektu</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="titul_pred" type="s1:string35_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Titul před jménem</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="jmeno" type="s:string">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Jméno FO</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="prijmeni" type="s:string">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Příjmení FO</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="titul_za" type="s1:string10_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Titul za jménem</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="rok_naroz" type="s:int">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Rok Narození</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="seznam_identifikatoru" type="s1:ArrayOfIdentifikator_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Element pro seznam externích identifikátorů subjektu</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="adresa" type="s1:adresa_type">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Element adresy subjektu</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="limity_stav" type="s1:ArrayOfOblast_stav">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Element aktuálního stavu čerpání podpor.</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="limity_stav_narizeni" type="s1:ArrayOfNarizeni_stav">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Element aktuálního stavu čerpání podpor - detail podle nařízení.</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="seznam_podpor" type="s1:ArrayOfPodpora">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Element seznamu podpor</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="datum_zahajeni_cinnosti" type="s:date">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Datum zahájení činnosti subjektu</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="seznam_uo" type="s1:ArrayOfUcetni_obdobi">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Element seznamu účetních období subjektu</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ucetni_obdobi">
        <s:annotation>
          <s:appinfo>
            <mze:Info>Účetní období subjektu</mze:Info>
          </s:appinfo>
        </s:annotation>
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="datum_do" type="s:date">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Datum konce účetního období</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="datum_od" type="s:date">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Datum počátku účetního období</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" name="id_uo" type="s:int">
            <s:annotation>
              <s:appinfo>
                <mze:Info>Identifikátor účetního období. Je vracen ve všech výstupech, na vstupu je ignorován.</mze:Info>
              </s:appinfo>
            </s:annotation>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="Request" type="s1:RDM_PUB_Request">
        <s:annotation>
          <s:appinfo>
            <mze:Info>Požadavek (vstup bez ESB obálky)</mze:Info>
          </s:appinfo>
        </s:annotation>
      </s:element>
      <s:element name="Response" type="s1:RDM_PUB_Response">
        <s:annotation>
          <s:appinfo>
            <mze:Info>Odpověď (výstup bez ESB obálky)</mze:Info>
          </s:appinfo>
        </s:annotation>
      </s:element>
      <s:simpleType name="forma_podpory_type">
        <s:annotation>
          <s:appinfo>
            <mze:Info>Forma podpory dle platného číselníku.</mze:Info>
          </s:appinfo>
        </s:annotation>
        <s:restriction base="s:int">
          <s:maxInclusive value="999" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ic_type">
        <s:annotation>
          <s:appinfo>
            <mze:Info>IČO</mze:Info>
          </s:appinfo>
        </s:annotation>
        <s:restriction base="s:string">
          <s:pattern value="\d{8}" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="identifikator_typ_type">
        <s:restriction base="s:string">
          <s:minLength value="3" />
          <s:maxLength value="3" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="mena_enum">
        <s:annotation>
          <s:appinfo>
            <mze:Info>Výčet zkratek měn, ve kterých lze zadat podporu</mze:Info>
          </s:appinfo>
        </s:annotation>
        <s:restriction base="s:string">
          <s:enumeration value="CZK" />
          <s:enumeration value="EUR" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="podpora_oblast_enum">
        <s:annotation>
          <s:appinfo>
            <mze:Info>Výčet oblastí podpory</mze:Info>
          </s:appinfo>
        </s:annotation>
        <s:restriction base="s:string">
          <s:enumeration value="ZP" />
          <s:enumeration value="RY" />
          <s:enumeration value="DO" />
          <s:enumeration value="OS" />
          <s:enumeration value="SL" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="psc_type">
        <s:restriction base="s:string">
          <s:minLength value="5" />
          <s:maxLength value="5" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="string1_type">
        <s:restriction base="s:string">
          <s:maxLength value="1" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="string10_type">
        <s:restriction base="s:string">
          <s:maxLength value="10" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="string100_type">
        <s:restriction base="s:string">
          <s:maxLength value="100" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="string1000_type">
        <s:restriction base="s:string">
          <s:maxLength value="1000" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="string2_typ">
        <s:restriction base="s:string">
          <s:maxLength value="2" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="string24_type">
        <s:restriction base="s:string">
          <s:maxLength value="24" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="string255_type">
        <s:restriction base="s:string">
          <s:maxLength value="255" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="string3_type">
        <s:restriction base="s:string">
          <s:maxLength value="3" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="string35_type">
        <s:restriction base="s:string">
          <s:maxLength value="35" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="string48_type">
        <s:restriction base="s:string">
          <s:maxLength value="48" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="string5_type">
        <s:restriction base="s:string">
          <s:maxLength value="5" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="subjektid_type">
        <s:restriction base="s:long">
          <s:maxInclusive value="9999999999" />
          <s:minInclusive value="1000000000" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ServiceRequestMessage">
    <wsdl:part name="payload" element="vOKO:Request" />
  </wsdl:message>
  <wsdl:message name="ServiceResponseMessage">
    <wsdl:part name="payload" element="vOKO:Response" />
  </wsdl:message>
  <wsdl:message name="ServiceErrorMessage">
    <wsdl:part name="exception" element="vOKO:Error" />
  </wsdl:message>
  <wsdl:portType name="RDM_PUB01B">
    <wsdl:operation name="process">
      <wsdl:input message="vOKO:ServiceRequestMessage" />
      <wsdl:output message="vOKO:ServiceResponseMessage" />
      <wsdl:fault name="Error" message="vOKO:ServiceErrorMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RDM_PUB01BBinding" type="vOKO:RDM_PUB01B">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="process">
      <soap:operation soapAction="process" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Error">
        <soap:fault use="literal" name="Error" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RDM_PUB01B">
    <wsdl:port name="RDM_PUB01BPort" binding="vOKO:RDM_PUB01BBinding">
      <soap:address location="https://eagri.cz/ssl/nosso-app/EPO/WS/v2Online/vOKOsrv.ashx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>